.form {
  margin-top: 65px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
}
#input-edit {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
}

.col-result {
  display: grid;
  margin-top: 25px;
  grid-template-columns: 450px 450px 450px 450px;
}

.result {
  margin-top: 25px;
  padding: 10px;
}

#input-note {
  width: 65%;
  border-radius: 8px;
  padding-left: 10px;
}

.edit-form {
  display: flex;
  justify-content: baseline;
  gap: 10px;
  padding: 10px;
}

/* .input-edit {
  border-style: none;
  border-bottom: solid 1px black;
} */

#button {
  display: flex;
  justify-content: end;
  margin-top: 50px;
  gap: 10px;
}

#card {
  padding: 10px 14px 10px 20px;
  margin-left: 90px;
}

@media screen and (max-width: 1100px) {
  .form {
    margin-left: 22px;
  }

  #input-edit {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
  }

    .col-result {
    margin-top: 5px;          
    grid-template-columns: 450px 450px;
  }
}

@media screen and (max-width: 576px) {
  .form {
    margin-left: 22px;
  }

  /* .result {
padding-right: 50px;

  } */

  .col-result {
    margin-top: 5px;          
    grid-template-columns: 100%;
  
  }

  #card {
    margin-left: 1px;
    padding-left: 10px;
  }

#input-edit {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
}

#button-save {
  margin-top: 5px;
  margin-left: 180px;
  
}

}
